*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
}
body{
    background-color: rgb(234, 233, 233);
}
h1{
    text-align: center;
    padding-top: 1%;
    font-size: 3rem;
    background-color:rgb(225, 225, 225);
    box-shadow: 3px 6px 12px 1px rgba(0,0,0,0.75);
}
.datosPersonales{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.formacion ul{
    padding-bottom: 1%;
}
.formacion p{
    border-top: 3px solid;
    padding-top: 1%;
    column-count: 2;
    column-gap: 10%;
    font-size: 1.5rem;
}
section{
    width: 75%;
    align-items: center;
    border: 4px solid;
    border-radius: 40px;
    margin: 2% auto;
    padding: 1%;
    background-color:rgb(225, 225, 225);
    font-size: 2REM;
    box-shadow: 3px 6px 12px 1px rgba(0,0,0,0.75);
}
div{
    padding: 3%;
}
h2{
    text-align: center;
    padding-top: 1%;
}
img{
    height: 300px;
    border-radius: 50%;
    margin: 1%;
}