*{
    margin: 0;
    padding: 0;
    background-color:rgb(225, 225, 225);
    font-family: sans-serif;
}
h1{
    text-align: center;
    padding: 1%;
    text-decoration: underline;
    font-size: 3rem;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;
    border-radius: 40px;
    margin: 1%;
    padding: 1%;
}
h2{
    text-align: center;
    padding: 1%;
}
img{
    height: 300px;
    border-radius: 50%;
    margin: 1%;
}